{% extends 'BootCRUDApp/base.html' %}

{% block content %}
<p><a href="{% url 'addMember' %}">To add a Member</a></p>
{% if allEntries %}
<div class="gridContainer">
    {% for eachEntry in allEntries %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ eachEntry.imageURL }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ eachEntry.name }}</h5>
                <p class="card-text">The person is {{ eachEntry.age }} years old and live on {{ eachEntry.address }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
    <h1>No Members</h1>
{% endif %}

{% endblock content %}